.navbar {
  width: 100%;
  padding: 20px 40px;
  background: #ffffffcc;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* Logo */
.nav-logo {
  font-size: 26px;
  text-decoration: none;
  color: #111;
  display: flex;
  align-items: center;
  gap: 3px;
}

.logo-bold {
  font-weight: 800;
}

/* Navigation */
.nav-right {
  display: flex;
  gap: 26px;
}

.nav-item {
  font-size: 16px;
  color: #444;
  text-decoration: none;
  font-weight: 500;
  transition: .2s ease;
}

.nav-item:hover {
  color: black;
  transform: translateY(-2px);
}

.nav-item.active {
  color: black;
  font-weight: 700;
}

